<ion-header>

  <ion-navbar>
    <ion-title>Mensagem Pessoal</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Mensagem</ion-label>
      <ion-input type="text" value="Hello Word"></ion-input>
    </ion-item>

  </ion-list>

  <!--<div padding>
    <button ion-button block (click)="goBack()">Salvar</button>
  </div>-->
</ion-content>
