<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Contatos" tabIcon="ios-contact-outline"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Conversas" tabIcon="ios-chatbubbles-outline"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Salas" tabIcon="ios-contacts-outline"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Configurações" tabIcon="ios-settings-outline"></ion-tab>
</ion-tabs>
