<ion-header>
  <ion-toolbar>

    <ion-title>
      Buscar contato
    </ion-title>

    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>

    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">OK</span>
      </button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  
  <ion-list>

    <ion-item *ngFor="let item of items">
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>{{item.message}}</p>
      </ion-label>

      <ion-checkbox></ion-checkbox>

      <ion-avatar item-start>
        <img [src]="item.avatar">
      </ion-avatar>
    </ion-item>

  </ion-list>

</ion-content>