page-contact {
    ion-note {
        font-size: 12px !important;
        align-self: flex-start;
        margin-top: 14px;
    }

    ion-avatar[item-start] {
        position: relative;
    }

    ion-avatar ion-badge {
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: 0;
        right: -2px;
        border-radius: 50%;
        padding: 0;
        min-width: 8px;
    }

    ion-avatar ion-badge:empty {
        display: block;
    }

    ion-label h2 {
        color: #fff;
    }
}