<ion-header>
  <ion-navbar>

    <ion-title>Contatos</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  
  <ion-list>

    <ion-item *ngFor="let item of items" (click)="goToChat(item)">
      <ion-avatar item-start>
        <img [src]="item.avatar">
        <ion-badge [color]="item.color"></ion-badge>
      </ion-avatar>

      <h2>{{item.name}}</h2>
      <p>{{item.message}}</p>
      <ion-note item-end>{{item.status}}</ion-note>
    </ion-item>

  </ion-list>

</ion-content>
