<ion-header>
  <ion-navbar>

    <ion-title>Salas</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="openModal()">
        <ion-icon name="ios-add"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  
  <ion-list>

    <ion-item *ngFor="let item of items" (click)="goToChat(item)">
      <ion-avatar item-start>
        <img [src]="item.avatar">
      </ion-avatar>
      <h2>{{ item.name }}</h2>
      <h4>{{ item.descricao }}</h4>
      <h5>{{ item.topico }}</h5>
      
      <h5>10 participantes</h5>

      <div>
        <ion-avatar item-start class="participantes">
          <img src="assets/img/avatar-ts-bullseye.png">
        </ion-avatar>
        <ion-avatar item-start class="participantes">
          <img src="assets/img/avatar-ts-barbie.png">
        </ion-avatar>
        <ion-avatar item-start class="participantes">
          <img src="assets/img/avatar-ts-squeeze.png">
        </ion-avatar>
        <ion-avatar item-start class="participantes">
          <img src="assets/img/avatar-ts-sarge.png">
        </ion-avatar>
        <ion-avatar item-start class="participantes">
          <img src="assets/img/avatar-ts-bopeep.png">
        </ion-avatar>
      </div>
      
      <!--<p>{{ item.message }}</p>-->
      <ion-note item-end>{{ item.time }}</ion-note>
    </ion-item>

  </ion-list>

</ion-content>
