page-chat-rooms {
    ion-note {
        font-size: 12px !important;
        align-self: flex-start;
        margin-top: 14px;
    }

    ion-label h2 {
        color: #fff;
    }

    .item-block {
        align-items: flex-start;
    }

    h4 {
        color: #ccc;
        text-transform: uppercase;
        font-size: 12px !important;
    }

    h5 {
        color: #ccc;
        font-size: 12px !important;
    }

    .participantes {
        min-width: 25px;
        min-height: 25px;
        display: inline-block;
        margin: 4px 5px 4px 0 !important;

        img {
            width: 25px;
            height: 25px;
        }
    }
}