<ion-header>

  <ion-navbar>
    <ion-title>Configurações</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row class="row-content">
    <ion-col>

      <ion-row class="img-blur">
        <ion-col>&nbsp;</ion-col>
      </ion-row>

      <ion-row class="img-opacity">
        <ion-col>&nbsp;</ion-col>
      </ion-row>

      <ion-row padding class="img-info">
        <ion-col text-center>
          <img src="assets/img/avatar-ts-woody.png">
          <h2>Woody</h2>
          <p>Toy Story</p>
        </ion-col>
      </ion-row>

    </ion-col>
  </ion-row>
  
  <ion-list>
    <button ion-item (click)="goToStatus()">
      <ion-label>Status</ion-label>
      <ion-note item-end>online</ion-note>
    </button>

    <button ion-item (click)="goToMessage()">
      <ion-label>Mensagem</ion-label>
      <ion-note item-end>Hello Word</ion-note>
    </button>

    <ion-item>
      <ion-label>Notificações</ion-label>
      <ion-toggle value="foo" checked="true"></ion-toggle>
    </ion-item>
  </ion-list>
  
</ion-content>
