page-settings {
    ion-row {
        width: 100%;
    }

    .row-content {
        width: 100%;
        height: 220px;
        position: relative;
    }

    .img-blur {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image:url(../assets/img/avatar-ts-woody.png);
        background-size: cover;
        filter: blur(9px);
        overflow: hidden;
    }
    .img-opacity {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.3;
    }
    .img-info {
        position: absolute;
        top:0;
        left: 0;
        color: #fff;
    }
    
    ion-list {
        position: relative;
    }
    
    ion-col img {
        width: 120px;
        height: 120px;
        border: 3px solid #fff;
        border-radius: 50%;
    }

    ion-col h2, ion-col p {
        text-shadow: 2px 2px 3px rgba(0, 0, 0, 1);
        margin: 5px 0 0;
    }

    .toggle-ios.toggle-checked .toggle-icon {
        background-color: #63029d;
    }
}
