<ion-header>

  <ion-navbar>
    <ion-title>Conversas</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  
  <ion-list>

    <ion-item *ngFor="let item of items" (click)="goToChat(item)">
      <ion-avatar item-start>
        <img [src]="item.avatar">
      </ion-avatar>
      <h2>{{item.name}}</h2>
      <p>{{item.message}}</p>
      <ion-note item-end>{{item.time}}</ion-note>
    </ion-item>

  </ion-list>

</ion-content>
