<ion-header>

  <ion-navbar>
    <ion-title>Status</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list radio-group>
    <!--<ion-list-header>
      Alterar Status
    </ion-list-header>-->

    <ion-item>
      <ion-label>Online</ion-label>
      <ion-radio value="online" checked="true"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Ocupado</ion-label>
      <ion-radio value="ocupado"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Ausente</ion-label>
      <ion-radio value="ausente"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Offline</ion-label>
      <ion-radio value="offline"></ion-radio>
    </ion-item>
  </ion-list>

  <!--<div padding>
    <button ion-button block color="primary" (click)="goBack()">Salvar</button>
  </div>-->
</ion-content>
