<ion-header>
  <ion-toolbar>
    <ion-title>
      Criar Sala
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary">Cancel</span>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-criar-sala" padding>
  <ion-list>

    <ion-item>
      <ion-label floating>Nome da sala</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Descrição</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Tópico</ion-label>
      <ion-input type="text" value=""></ion-input>
    </ion-item>

  </ion-list>

  <div padding>
    <button ion-button block (click)="dismiss()">Criar</button>
  </div>
</ion-content>